gradio
requests
langchain
langchain-community
langchain-core
langchain-google-vertexai
langchain-huggingface
langchain-tavily
langchain-chroma
langgraph
huggingface_hub
sentence-transformers
arxiv
pymupdf
wikipedia
pgvector
python-dotenv
protobuf==3.20.*
chromadb
google-cloud-aiplatform
vertexai
pandas
pillow
openpyxl